using Microsoft.Extensions.Diagnostics.HealthChecks;

namespace {{ Name }}.Presentation.WebApi.Shared.HealthCheck.Extensions;

internal static class HealthCheckExtensions
{
	extension(IServiceCollection services)
	{
		internal void AddApplicationHealthChecks()
		{
			_ = services
				.AddHealthChecks()
				.AddCheck("live", () => HealthCheckResult.Healthy("Service is live"))
				.AddCheck("ready", () => HealthCheckResult.Healthy("Service is ready"));
		}
	}

	private const String HEALTH_GROUP_ENDPOINT = "/health";
	extension(IEndpointRouteBuilder endpoints)
	{
		internal void MapHealthCheckEndpoints()
		{
			_ = endpoints.MapHealthChecks($"{HEALTH_GROUP_ENDPOINT}/live");
			_ = endpoints.MapHealthChecks($"{HEALTH_GROUP_ENDPOINT}/ready");
		}
	}
}
