using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Routing;
using UnionRailway.AspNetCore;

namespace {{ Service }}.Presentation.WebApi.Shared.Routing;

internal static partial class RouteRegistrationExtensions
{
    extension(IEndpointRouteBuilder endpoints)
    {
        /// <summary>
        /// Configures the API endpoints for the application.
        /// This method is designed to be developer-owned and can be used to add global middleware,
        /// authorization policies, or other cross-cutting concerns to the API group.
        /// </summary>
        internal IEndpointRouteBuilder MapApiEndpoints()
        {
            RouteGroupBuilder apiGroup = endpoints.MapGroup("/api").WithRailwayFilter();

            apiGroup.AddNfwFeatureGroups();

            return endpoints;
        }
    }
}
