using Mediator;

namespace {{ Service }}.Core.Application.Features.{{ Feature }}.Queries.{{ Name }};

public class {{ Name }}QueryHandler : IRequestHandler<{{ Name }}Query, {{ Name }}QueryResult>
{
    public ValueTask<{{ Name }}QueryResult> Handle({{ Name }}Query request, CancellationToken cancellationToken)
    {
        // TODO: Implementation goes here
        return new ValueTask<{{ Name }}QueryResult>(new {{ Name }}QueryResult());
    }
}
