using {{ Service }}.Core.Application.Features.{{ Feature }}.Commands.Create{{ Name }};

namespace {{ Service }}.Presentation.WebApi.Features.{{ Feature }}.Endpoints.Create{{ Name }};

internal record Create{{ Name }}Request
{
{%- set audit_props = ["CreatedAt", "UpdatedAt", "IsDeleted", "DeletedAt"] -%}
{%- for prop in Properties %}
{%- if prop.name != "Id" and prop.name not in audit_props %}
    public required {{ prop.type }}{% if prop.nullable %}?{% endif %} {{ prop.name }} { get; init; }
{%- endif %}
{%- endfor %}

    internal Create{{ Name }}Command ToCommand() => new()
    {
        {%- for prop in Properties %}
        {%- if prop.name != "Id" and prop.name not in audit_props %}
        {{ prop.name }} = {{ prop.name }},
        {%- endif %}
        {%- endfor %}
    };
}
