using Mediator;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Routing;
using NFramework.Persistence.Abstractions.Pagination;
using UnionRailway;
using UnionRailway.AspNetCore;
using {{ Service }}.Core.Application.Features.{{ Feature }}.Queries.List{{ Name }}s;

namespace {{ Service }}.Presentation.WebApi.Features.{{ Feature }}.Endpoints.List{{ Name }}s;

internal static partial class List{{ Name }}sEndpoint
{
    private const string RoutePath = "/";
    private const string OperationName = "List{{ Name }}s";
    private const string Tag = "{{ Feature | pascal_case }}";
    private const string OpenApiSummary = "List {{ Name }}s with pagination";

    extension(IEndpointRouteBuilder endpoints)
    {
        internal void MapList{{ Name }}sEndpoint()
        {
            _ = endpoints
                .MapGet(
                    RoutePath,
                    async ([AsParameters] List{{ Name }}sRequest request, ISender sender) =>
                    {
                        Rail<List{{ Name }}sQueryResult> result = await sender.Send(request.ToQuery()).ConfigureAwait(false);
                        return result.ToHttpResult();
                    }
                )
                .WithName(OperationName)
                .WithTags(Tag)
                .Produces<List{{ Name }}sQueryResult>(StatusCodes.Status200OK)
                .AddOpenApiOperationTransformer((operation, context, ct) =>
                {
                    operation.Summary = OpenApiSummary;
                    return Task.CompletedTask;
                });
        }
    }
}
