// Mediator
builder.Services.AddMediator();
// TODO: Active when NFramework packages are released
//builder.Services.AddNFrameworkLogging();
//builder.Services.AddNFrameworkPerformance();
//builder.Services.AddNFrameworkAuthorization();
//builder.Services.AddNFrameworkTransactions();
//builder.Services.AddNFrameworkCaching();
//builder.Services.AddNFrameworkValidationWithFluentValidation();
