using Mediator;

namespace {{ Service }}.Core.Application.Features.{{ Feature }}.Commands.{{ Name }};

public class {{ Name }}CommandHandler : IRequestHandler<{{ Name }}Command, {{ Name }}CommandResult>
{
    public ValueTask<{{ Name }}CommandResult> Handle({{ Name }}Command request, CancellationToken cancellationToken)
    {
        // TODO: Implementation goes here
        return new ValueTask<{{ Name }}CommandResult>(new {{ Name }}CommandResult());
    }
}
