namespace {{ Service }}.Core.Application.Features.{{ Feature }}.Queries.Get{{ Name }}ById;

public record Get{{ Name }}ByIdQueryResult({{ Name }}Dto Data);

{%- set audit_props = ["CreatedAt", "UpdatedAt", "IsDeleted", "DeletedAt"] -%}
public record {{ Name }}Dto(
    {{ IdType | default(value="Guid") }} Id{%- for prop in Properties %}
    {%- if prop.name != "Id" and prop.name not in audit_props %},
    {{ prop.type }}{% if prop.nullable %}?{% endif %} {{ prop.name }}
    {%- endif %}
    {%- endfor %}
    {%- if EntityType == "auditable_entity" or EntityType == "soft_deletable_entity" %},
    DateTime CreatedAt,
    DateTime? UpdatedAt
    {%- endif %}
    {%- if EntityType == "soft_deletable_entity" %},
    bool IsDeleted,
    DateTime? DeletedAt
    {%- endif %}
);
