using Mediator;
using NFramework.Persistence.Abstractions.Pagination;
using NFramework.Persistence.Abstractions.Repositories;
using UnionRailway;
using {{ Service }}.Core.Application.Contracts.Persistence;
using {{ Service }}.Core.Domain.Entities;

namespace {{ Service }}.Core.Application.Features.{{ Feature }}.Queries.List{{ Name }}s;

{%- set audit_props = ["CreatedAt", "UpdatedAt", "IsDeleted", "DeletedAt"] -%}

public class List{{ Name }}sQueryHandler(I{{ Name }}Repository repository) : IRequestHandler<List{{ Name }}sQuery, Rail<List{{ Name }}sQueryResult>>
{
    public async ValueTask<Rail<List{{ Name }}sQueryResult>> Handle(List{{ Name }}sQuery request, CancellationToken cancellationToken)
    {
        PageableQueryOption<{{ Name }}> options = new() { Page = request.Paging };

        Rail<PaginatedList<{{ Name }}>> listResult = await repository.GetListAsync(options, cancellationToken);
        if (!listResult.IsSuccess(out PaginatedList<{{ Name }}> paginatedEntities, out UnionError? error))
            return error.GetValueOrDefault().ToFail<List{{ Name }}sQueryResult>();

        PaginatedList<{{ Name }}Dto> paginatedDtos = new(
            paginatedEntities.Items.Select(entity => new {{ Name }}Dto(
                entity.Id{%- for prop in Properties %}
                {%- if prop.name != "Id" and prop.name not in audit_props %},
                entity.{{ prop.name }}
                {%- endif %}
                {%- endfor %}
                {%- if EntityType == "auditable_entity" or EntityType == "soft_deletable_entity" %},
                entity.CreatedAt,
                entity.UpdatedAt
                {%- endif %}
                {%- if EntityType == "soft_deletable_entity" %},
                entity.IsDeleted,
                entity.DeletedAt
                {%- endif %}
            )).ToList(),
            paginatedEntities.Meta
        );

        return new List{{ Name }}sQueryResult(paginatedDtos);
    }
}
