using UnionRailway;

namespace {{ Name }}.Infrastructure.Persistence.Shared.Database.Models;

public readonly record struct DatabaseConfiguration
{
	public string Name { get; }

	public DatabaseConfiguration(string name)
	{
		Name = name.Trim();
	}

	public static Rail<DatabaseConfiguration> Create(string? name)
	{
		if (string.IsNullOrWhiteSpace(name))
			return new UnionError.Validation(
				new Dictionary<string, string[]>
				{
					["Name"] = ["Database name cannot be null, empty, or whitespace."]
				}
			);

		return new DatabaseConfiguration(name);
	}
}
