{%- if AttachToMediator -%}
using {{ Service }}.Core.Application.Features.{{ Feature }}.{% if OperationType == "Get" %}Queries{% else %}Commands{% endif %}.{{ Name }};
{%- endif %}

namespace {{ Service }}.Presentation.WebApi.Features.{{ Feature }}.Endpoints.{{ Name }};

internal record {{ Name }}Response
{
{%- if AttachToMediator %}
    // TODO: Map response properties from {{ Name }}{% if OperationType == "Get" %}Query{% else %}Command{% endif %}Result
    internal static {{ Name }}Response From({{ Name }}{% if OperationType == "Get" %}Query{% else %}Command{% endif %}Result result) => new();
{%- else %}
    // TODO: Add response properties
{%- endif %}
}
